.job-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .job-card {
    width: 25%; 
    height: 90%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    /* display: flex; */
    align-items: center; /* Align items vertically */
  }
  
.job-card:hover {
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
  
  @media (max-width: 768px) {
    .job-card {
      width: 49% /* Two cards per row on tablets */
    }
  }
  
  @media (max-width: 576px) {
    .job-card {
      width: 99% 
    }
  }
  
  .company-logo img {
    max-width: 50px; 
    height: auto;
    margin-right: 20px; 
  }
  
  .job-details {
    flex-grow: 1; 
    display: flex;
  }
  
  .job-details h2 {
    margin-top: 0;
  }
  
  .job-details h3 {
    margin-top: 2px;
  }
  
  .job-details p {
    margin: 2px 0;
  }
  
  .easy-apply-button {
    background-color: #7fee88;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .easy-apply-button:hover {
    background-color: #08af05;
  }
  .filter{
    justify-content: center;
    align-items: center;
  }
  .filter_spe{
    margin-right: 28px;
  }
  